
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584679449501368901.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584679449501368901.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584679449501368901.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584679449501368901.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584679449501368901.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584679449501368901.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584679449501368901.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584679449501368901.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584679449501368901.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584679449501368901.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584679449501368901.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584679449501368901.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584679449501368901.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584679449501368901.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584679449501368901.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584679449501368901.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584679449501368901.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584679449501368901.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584679449501368901.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584679449501368901.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584679449501368901.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584679449501368901.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584679449501368901.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584679449501368901.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584679449501368901.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584679449501368901.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584679449501368901.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584679449501368901.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584679449501368901.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584679449501368901.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584679449501368901.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584679449501368901.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584679449501368901.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584679449501368901.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584679449501368901.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584679449501368901.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584679449501368901.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584679449501368901.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584679449501368901.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584679449501368901.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584679449501368901.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584679449501368901.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584679449501368901.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584679449501368901.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584679449501368901.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584679449501368901.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584679449501368901.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584679449501368901.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584679449501368901.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584679449501368901.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-584679449501368901.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-584679449501368901.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584679449501368901.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584679449501368901.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-584679449501368901.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-584679449501368901.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584679449501368901.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-584679449501368901.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584679449501368901.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584679449501368901.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584679449501368901.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584679449501368901.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-584679449501368901.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584679449501368901.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584679449501368901.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584679449501368901.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584679449501368901.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584679449501368901.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584679449501368901.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584679449501368901.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584679449501368901.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584679449501368901.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-584679449501368901.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584679449501368901.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584679449501368901.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584679449501368901.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584679449501368901.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-584679449501368901.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584679449501368901.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584679449501368901 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-584679449501368901 .gp-relative{position:relative}.gps-584679449501368901 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584679449501368901 .gp-mb-0{margin-bottom:0}.gps-584679449501368901 .gp-inline-block{display:inline-block}.gps-584679449501368901 .gp-flex{display:flex}.gps-584679449501368901 .gp-inline-flex{display:inline-flex}.gps-584679449501368901 .gp-grid{display:grid}.gps-584679449501368901 .\!gp-hidden{display:none!important}.gps-584679449501368901 .gp-hidden{display:none}.gps-584679449501368901 .gp-h-auto{height:auto}.gps-584679449501368901 .gp-h-full{height:100%}.gps-584679449501368901 .gp-w-full{width:100%}.gps-584679449501368901 .gp-max-w-full{max-width:100%}.gps-584679449501368901 .gp-flex-none{flex:none}.gps-584679449501368901 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584679449501368901 .gp-flex-col{flex-direction:column}.gps-584679449501368901 .gp-flex-wrap{flex-wrap:wrap}.gps-584679449501368901 .gp-items-center{align-items:center}.gps-584679449501368901 .gp-justify-center{justify-content:center}.gps-584679449501368901 .gp-overflow-hidden{overflow:hidden}.gps-584679449501368901 .gp-leading-\[0\]{line-height:0}.gps-584679449501368901 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-584679449501368901 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584679449501368901 .gp-duration-200{transition-duration:.2s}.gps-584679449501368901 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584679449501368901 .tablet\:\!gp-hidden{display:none!important}.gps-584679449501368901 .tablet\:gp-hidden{display:none}.gps-584679449501368901 .tablet\:gp-h-auto{height:auto}.gps-584679449501368901 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584679449501368901 .mobile\:\!gp-hidden{display:none!important}.gps-584679449501368901 .mobile\:gp-hidden{display:none}.gps-584679449501368901 .mobile\:gp-h-auto{height:auto}.gps-584679449501368901 .mobile\:gp-flex-none{flex:none}}.gps-584679449501368901 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584679449501368901 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584679449501368901 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584679449501368901 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584679449501368901 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gqiFadEZu2"}' data-id="gqiFadEZu2" id="gqiFadEZu2" data-same-height-subgrid-container class="gqiFadEZu2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gY9gRbeZHD gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggF1XBQgNw"}' data-id="ggF1XBQgNw" id="ggF1XBQgNw" data-same-height-subgrid-container class="ggF1XBQgNw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:24px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:24px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gi5-pAQVRw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ga-oe7pg86"
      style="--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1758025731079 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ga-oe7pg86"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1000" height="667" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI2NjciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMDAtNjY3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDAwIiBoZWlnaHQ9IjY2NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSI2NjciIGZpbGw9InVybCgjZy0xMDAwLTY2NykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMDAiIHRvPSIxMDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" base-src="{{ "gempages_584677362969346932-92cab66a-d0ac-4948-a77e-68b52f057138.webp" | file_url }}" data-src="{{ "gempages_584677362969346932-92cab66a-d0ac-4948-a77e-68b52f057138.webp" | file_url }}" data-srcset="{{ 'gempages_584677362969346932-92cab66a-d0ac-4948-a77e-68b52f057138.webp' | file_url }} 768w, {{ 'gempages_584677362969346932-92cab66a-d0ac-4948-a77e-68b52f057138.webp' | file_url }} 1024w, {{ 'gempages_584677362969346932-92cab66a-d0ac-4948-a77e-68b52f057138.webp' | file_url }} 1440w"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSKDDcSnFR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"gkODJEzXM4"}' data-id="gkODJEzXM4" id="gkODJEzXM4" data-same-height-subgrid-container class="gkODJEzXM4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gW4tg5Ac-R gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gIhUxXwaRM"}' data-id="gIhUxXwaRM" id="gIhUxXwaRM" data-same-height-subgrid-container class="gIhUxXwaRM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-mobile:23px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 1fr) minmax(0, 11fr);--gtc-mobile:minmax(0, 2fr) minmax(0, 10fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyHb0LRPod gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gcHARaKUTY" class="gp-leading-[0] gcHARaKUTY" style="--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:8px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gcHARaKUTY" class="icon-wrapper gp-inline-flex gp-overflow-hidden gcHARaKUTY " style="--shadow:none">
      
        <div >
          <span style="--c:#514949;--t:rotate(0deg);--w:35px;--w-tablet:35px;--w-mobile:32px;--h:35px;--h-tablet:35px;--h-mobile:32px;--minw:35px;--minw-tablet:35px;--minw-mobile:32px;--height-desktop:35px;--height-tablet:35px;--height-mobile:32px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="quote.svg" data-id="580224979182813738" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="39" height="26" viewBox="0 0 39 26" fill="none">
<path d="M5.24146 12.782C5.77449 12.1984 6.48519 11.7316 7.37358 11.3814C8.32118 11.0313 9.38724 10.8562 10.5718 10.8562C12.6446 10.8562 14.3622 11.5565 15.7244 12.9571C17.0866 14.2993 17.7677 16.0209 17.7677 18.1217C17.7677 20.3977 16.9681 22.2943 15.369 23.8116C13.7699 25.2705 11.7859 26 9.41686 26C6.63326 26 4.35308 25.0663 2.57631 23.1988C0.85877 21.273 0 18.7928 0 15.7583C0 10.9729 1.71754 7.15052 5.15262 4.291C8.5877 1.37312 13 -0.0566404 18.3895 0.00171635V1.4023C14.1253 1.63573 10.8087 2.74452 8.43964 4.72868C6.12984 6.71283 5.06378 9.39728 5.24146 12.782ZM25.8519 12.782C26.385 12.1984 27.0957 11.7316 27.9841 11.3814C28.9317 11.0313 29.9977 10.8562 31.1822 10.8562C33.2551 10.8562 34.9727 11.5565 36.3349 12.9571C37.697 14.2993 38.3781 16.0209 38.3781 18.1217C38.3781 20.3977 37.5786 22.2943 35.9795 23.8116C34.3804 25.2705 32.3964 26 30.0273 26C27.2437 26 24.9636 25.0663 23.1868 23.1988C21.4692 21.273 20.6105 18.7928 20.6105 15.7583C20.6105 10.9729 22.328 7.15052 25.7631 4.291C29.1982 1.37312 33.6105 -0.0566404 39 0.00171635V1.4023C34.7358 1.63573 31.4191 2.74452 29.0501 4.72868C26.7403 6.71283 25.6743 9.39728 25.8519 12.782Z" fill="black"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="grqtQY8Yfn gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="goxjWtLPvt"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:left">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gyW_ndSNlE ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g0xAejnA7l" class="gp-leading-[0] g0xAejnA7l" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g0xAejnA7l" class="icon-wrapper gp-inline-flex gp-overflow-hidden g0xAejnA7l " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:18px;--h:16px;--h-mobile:18px;--minw:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g6SadanJJj ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gSeO9_Ler2" class="gp-leading-[0] gSeO9_Ler2" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gSeO9_Ler2" class="icon-wrapper gp-inline-flex gp-overflow-hidden gSeO9_Ler2 " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:18px;--h:16px;--h-mobile:18px;--minw:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g0PaVwMKwM ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gEoakpy5tb" class="gp-leading-[0] gEoakpy5tb" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gEoakpy5tb" class="icon-wrapper gp-inline-flex gp-overflow-hidden gEoakpy5tb " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:18px;--h:16px;--h-mobile:18px;--minw:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gdmgW_xMav ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g8wDACdtU3" class="gp-leading-[0] g8wDACdtU3" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g8wDACdtU3" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8wDACdtU3 " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:18px;--h:16px;--h-mobile:18px;--minw:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="g5ikFKaylM ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gGOoIfNItH" class="gp-leading-[0] gGOoIfNItH" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gGOoIfNItH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gGOoIfNItH " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:16px;--w-mobile:18px;--h:16px;--h-mobile:18px;--minw:16px;--minw-mobile:18px;--height-desktop:16px;--height-tablet:16px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="515765963237360790" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
<rect width="16" height="16" fill="#00B878"/>
<path d="M5.90846 9.25163L2.57031 6.57908H6.71855L7.95013 2.57031L9.37618 6.57908H13.4275L7.95013 10.8341L10.4781 10.0534L11.5801 13.4275L7.95013 10.8341L4.61188 13.4275L5.90846 9.25163Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gz9oMNOpd_"
        class="gz9oMNOpd_"
        style="--ta:left;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:18px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758025731089"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggz9oMNOpd__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnGS5LUaYa"
        class="gnGS5LUaYa"
        style="--ta:left;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758025731090"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnGS5LUaYa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-584679449501368901 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/z8jr8n-n5/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=584677364127105948&sectionId=584679449501368901)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggz9oMNOpd__text","label":"ggz9oMNOpd__text","default":"<p>\"Singurul ruj Lip stain care rezistă de dimineața până seara. Nuanța mea preferată este <i>Lovely</i> – seara aplic peste ea <i>Wonder Blading Top Gloss</i> și astfel culoarea capătă o viață nouă, devenind intensă și dramatică.\"</p>"},{"type":"html","id":"ggnGS5LUaYa_text","label":"ggnGS5LUaYa_text","default":"<p>Cumpărător verificat</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  