
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586680126771561163.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586680126771561163.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586680126771561163.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586680126771561163.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586680126771561163.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586680126771561163.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586680126771561163.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586680126771561163.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586680126771561163.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586680126771561163.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586680126771561163.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586680126771561163.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586680126771561163.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586680126771561163.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586680126771561163.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586680126771561163.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586680126771561163.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586680126771561163.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586680126771561163.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586680126771561163.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586680126771561163.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586680126771561163.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586680126771561163.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586680126771561163.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586680126771561163.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586680126771561163.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586680126771561163.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586680126771561163.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586680126771561163.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586680126771561163.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586680126771561163.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586680126771561163.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586680126771561163.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586680126771561163.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586680126771561163.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586680126771561163.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586680126771561163.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586680126771561163.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586680126771561163.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586680126771561163.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586680126771561163.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586680126771561163.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586680126771561163.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586680126771561163.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586680126771561163.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586680126771561163.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-586680126771561163.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586680126771561163.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586680126771561163.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586680126771561163.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586680126771561163.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586680126771561163.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586680126771561163.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586680126771561163.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586680126771561163.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586680126771561163.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586680126771561163.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586680126771561163.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586680126771561163.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586680126771561163.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586680126771561163.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586680126771561163.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586680126771561163 .gp-relative{position:relative}.gps-586680126771561163 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586680126771561163 .gp-mb-0{margin-bottom:0}.gps-586680126771561163 .gp-flex{display:flex}.gps-586680126771561163 .gp-grid{display:grid}.gps-586680126771561163 .\!gp-hidden{display:none!important}.gps-586680126771561163 .gp-hidden{display:none}.gps-586680126771561163 .gp-max-w-full{max-width:100%}.gps-586680126771561163 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586680126771561163 .gp-flex-col{flex-direction:column}.gps-586680126771561163 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-586680126771561163 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586680126771561163 .gp-duration-200{transition-duration:.2s}.gps-586680126771561163 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-586680126771561163 .tablet\:\!gp-hidden{display:none!important}.gps-586680126771561163 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586680126771561163 .mobile\:\!gp-hidden{display:none!important}.gps-586680126771561163 .mobile\:gp-hidden{display:none}}.gps-586680126771561163 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOeIoUH8pp"}' data-id="gOeIoUH8pp" id="gOeIoUH8pp" data-same-height-subgrid-container class="gOeIoUH8pp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-tablet:63px;--pl-tablet:15px;--pb-tablet:63px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkf81Eneyj gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdndgrj9Q3"}' data-id="gdndgrj9Q3" id="gdndgrj9Q3" data-same-height-subgrid-container class="gdndgrj9Q3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-2xl);--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUTA2FkGYH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYJ-jg6hI3"
        class="gYJ-jg6hI3"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667092"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYJ-jg6hI3_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gW00s0WeQ8"
        class="gW00s0WeQ8"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667093"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggW00s0WeQ8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gQXHQFGMmD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guH9KKmZmM"
        class="guH9KKmZmM"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667094"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguH9KKmZmM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnkI5bsmch"
        class="gnkI5bsmch"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667095"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnkI5bsmch_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gwafvZKePS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwFeznxquA"
        class="gwFeznxquA"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667096"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwFeznxquA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYuhDoOt7r"
        class="gYuhDoOt7r"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667097"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYuhDoOt7r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKAqcLIYXa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gEL8_Y5YX4"
        class="gEL8_Y5YX4"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667098"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggEL8_Y5YX4_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp0yLgXQIo"
        class="gp0yLgXQIo"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--mb-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1760351667099"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp0yLgXQIo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-586680126771561163 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dnk28n-aq/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=586680118533948251&sectionId=586680126771561163)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYJ-jg6hI3_text","label":"ggYJ-jg6hI3_text","default":"<p>32.942+</p>"},{"type":"html","id":"ggW00s0WeQ8_text","label":"ggW00s0WeQ8_text","default":"<p>Products have<br>reached consumers</p>"},{"type":"html","id":"gguH9KKmZmM_text","label":"gguH9KKmZmM_text","default":"<p>97.5%</p>"},{"type":"html","id":"ggnkI5bsmch_text","label":"ggnkI5bsmch_text","default":"<p>Satisfied customers and<br>five-star reviews</p>"},{"type":"html","id":"ggwFeznxquA_text","label":"ggwFeznxquA_text","default":"<p>82%</p>"},{"type":"html","id":"ggYuhDoOt7r_text","label":"ggYuhDoOt7r_text","default":"<p>Feedback on instant<br>body relaxation</p>"},{"type":"html","id":"ggEL8_Y5YX4_text","label":"ggEL8_Y5YX4_text","default":"<p>50+</p>"},{"type":"html","id":"ggp0yLgXQIo_text","label":"ggp0yLgXQIo_text","default":"<p>Recommended by 50+<br>recovery experts</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  